<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onClickBackBtn()">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-3 flex-center">
      <button class="btn btn-primary">View Code</button>
    </div>
    <div class="col-3 flex-center">
      <button class="btn btn-primary">Demo</button>
    </div>
  </div>

</div>
