<div class="fullScreen">
  <div class="center-block">
    <span>Hello, I'm</span>
    <span class="red-name"> Amrit Gupta.</span>
    <span class="display-block">I'm a full-stack web developer</span>
    <button class="view-my-work-btn" (click)="onClickViewMyWork(aboutSection)">
      View my work
    </button>
  </div>
</div>

<div class="nav-bar-fit">
  <div class="container">
    <nav class="navbar navbar-expand-xl navbar-dark">
      <!-- <a class="navbar-brand">Amrit</a> -->

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
        <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item " [ngClass]="{ active: menu == 'about' }">
            <a class="nav-link" (click)="onClickNavMenu('about', aboutSection)"
              >About</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: menu == 'project' }">
            <a
              class="nav-link"
              (click)="onClickNavMenu('project', projectSection)"
              >Project</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: menu == 'blog' }">
            <a class="nav-link " (click)="onClickNavMenu('blog', blogSection)"
              >Blog</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: menu == 'contact' }">
            <a
              class="nav-link "
              (click)="onClickNavMenu('contact', contactSection)"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- about-section -->

<div class="about-section" #aboutSection>
  <div class="container">
    <div class="row margin-top-40 margin-bottom-40">
      <div class="col-12" align="center">
        <span class="section-main-heading">ABOUT</span>
      </div>
    </div>
    <div class="row margin-top-40 margin-bottom-40">
      <div class="col-12 col-sm-6 col-md-3" align="center">
        <div class="hexagon-icon">
          <i class="material-icons">
            speed
          </i>
        </div>
        <div class="about-heading">Fast</div>
        <div class="about-sub-heading">
          Fast load times and lag free interaction, my highest priority.
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" align="center">
        <div class="hexagon-icon">
          <i class="material-icons">
            mobile_screen_share
          </i>
        </div>
        <div class="about-heading">Responsive</div>
        <div class="about-sub-heading">
          My layouts will work on any device, big or small.
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" align="center">
        <div class="hexagon-icon">
          <i class="material-icons">
            speed
          </i>
        </div>
        <div class="about-heading">Reactive</div>
        <div class="about-sub-heading">
          Fast load times and lag free interaction, my highest priority.
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" align="center">
        <div class="hexagon-icon">
          <i class="zmdi zmdi-truck"></i>
        </div>
        <div class="about-heading">Dynamic</div>
        <div class="about-sub-heading">
          Websites don't have to be static, I love making page come to life.
        </div>
      </div>
    </div>

    <div class="row margin-top-40">
      <div
        class="col-md-6 col-sm-12 col-xs-12 animated-slide-in-left"
        align="center"
      >
        <div class="profile-pic-block">
          <img
            class="profile-image"
            src="./../../assets/image/profile-image.jpg"
            alt=""
          />
          <div class="profile-heading">Who's this guy?</div>
          <div class="profile-sub-heading">
            I'm Full-Stack-Developer for GeminiSolutions in Gurgaon (India). I
            have experiance of more than 2 year with MEAN Stack technology. I'm
            looking forword to work with you.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 animated-slide-in-right">
        <!-- <div *ngFor="let temp of skills; index as i">
          <div class="row" [ngClass]="{'margin-top-20':temp.index>0}">
            <div class="col-12 remove-padding background-lightgrey">
              <div>
                <span class="Skills">
                  {{temp.subject}}
                </span>
                <span class="skills-percentage">
                  {{temp.percentage}}
                </span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row margin-bottom-15" *ngFor="let temp of skills">
          <div class="col-3 remove-padding-right">
            <div class="subject-tab">
              {{ temp.subject }}
            </div>
          </div>
          <div class="col-9 remove-padding-left">
            <div class="progress h-100 border-radius-0">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: temp.percentage }"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ temp.percentage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- project-section -->

<div class="project-section" #projectSection>
  <div class="container">
    <div class="row margin-top-40 margin-bottom-40">
      <div class="col-12" align="center">
        <div class="section-main-heading">
          PROJECT
        </div>
      </div>
      <!-- <div class="col-12" align="center">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div> -->
      <div
        class="col-4"
        style="padding:10px"
        (click)="onClickProject(image)"
        *ngFor="let image of galleryImages"
      >
        <img [src]="image.big" alt="image" style="width:100%;height:auto" />
      </div>
    </div>

    <!-- <div class="row">
      <div
        class="col-sm-3"
        align="center"
        (click)="project_tab_index = 1; onClick(project_tab_index)"
      >
        <span class="tabs" [ngClass]="{ 'active-tab': project_tab_index == 1 }"
          >ALL</span
        >
      </div>
      <div
        class="col-sm-3"
        align="center"
        (click)="project_tab_index = 2; onClick(project_tab_index)"
      >
        <span class="tabs" [ngClass]="{ 'active-tab': project_tab_index == 2 }"
          >NODE.JS</span
        >
      </div>
      <div
        class="col-sm-3"
        align="center"
        (click)="project_tab_index = 3; onClick(project_tab_index)"
      >
        <span class="tabs" [ngClass]="{ 'active-tab': project_tab_index == 3 }"
          >ANGULAR</span
        >
      </div>
      <div
        class="col-sm-3"
        align="center"
        (click)="project_tab_index = 4; onClick(project_tab_index)"
      >
        <span class="tabs" [ngClass]="{ 'active-tab': project_tab_index == 4 }"
          >JAVASCRIPT</span
        >
      </div>
    </div> -->

    <!-- <div class="tab-section">
      <div class="tab-pills" [ngClass]="{ 'tab-pills-active': project_tab_index == 1 }"
        (click)="project_tab_index = 1; onClick(project_tab_index)">
        All
      </div>
      <div class="tab-pills" [ngClass]="{ 'tab-pills-active': project_tab_index == 2 }"
        (click)="project_tab_index = 2; onClick(project_tab_index)">
        Node.Js
      </div>
      <div class="tab-pills" [ngClass]="{ 'tab-pills-active': project_tab_index == 3 }"
        (click)="project_tab_index = 3; onClick(project_tab_index)">
        Angular
      </div>
      <div class="tab-pills" [ngClass]="{ 'tab-pills-active': project_tab_index == 4 }"
        (click)="project_tab_index = 4; onClick(project_tab_index)">
        javascript
      </div>
    </div> -->

    <!-- <div class="row margin-top-20">
      <div class="col-12 col-sm-6 col-md-4 margin-top-20" align="center" *ngFor="let temp of [1, 2, 3]">
        <div class="image-container">
          <img class="project-image w3-animate-zoom" src="./../../assets/image/black_wall.jpg" alt="" />
          <div class="image-overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- Blog-section -->

<div class="blog-section" #blogSection>
  <div class="container">
    <div class="row margin-top-40 margin-bottom-40">
      <div class="col-12" align="center">
        <div class="section-main-heading">
          BLOG
        </div>
      </div>
    </div>
    <div class="row margin-top-20">
      <div
        class="col-12 col-sm-6 col-md-3"
        align="center"
        *ngFor="let temp of [1, 2, 3, 4]"
      >
        <img
          class="project-image"
          src="./../../assets/image/black_wall.jpg"
          alt=""
        />
        <div class="blog-heading">
          Breaking Your
        </div>
        <div class="blog-sub-heading">
          This Portfolio is in under construction, wait we will fix this soon.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact-us -->

<div class="contact-section" #contactSection>
  <div class="container margin-top-40">
    <div class="row margin-top-40" align="center">
      <div class="col-12">
        <div class="section-main-heading color-white">
          CONTACT
        </div>
      </div>
    </div>
    <div class="row margin-bottom-40">
      <div class="col-12" align="center">
        <div class="contact-sub-heading">
          Have a question or want to work together
        </div>
      </div>
    </div>
    <form [formGroup]="messageForm">
      <div class="row">
        <div class="col-12 offset-md-3 col-md-6" align="center">
          <input
            type="text"
            class="form-control custom-input-box"
            id="emailId"
            formControlName="name"
            placeholder="Enter Name"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 offset-md-3 col-md-6 " align="center">
          <input
            type="text"
            class="form-control custom-input-box"
            id="emailId"
            formControlName="email"
            placeholder="Enter EmailId"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 offset-md-3 col-md-6" align="center">
          <textarea
            class="form-control custom-input-box"
            rows="5"
            id="comment"
            formControlName="message"
            placeholder="Enter your message"
          ></textarea>
        </div>
        <div class="col-12 offset-md-3 col-md-6" align="right">
          <button
            class="btn submit-btn margin-top-20 margin-bottom-40"
            (click)="onSubmit()"
            [disabled]="!messageForm.valid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
