/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme



body {
  margin: 0px;
}
* {
  font-family: "Roboto", sans-serif;
}
.h-100 {
  height: 100%;
}
.border-radius-0 {
  border-radius: 0px;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}